$primary-color: #ffffff;

.main-view {
  margin-top: 70px;
  display: inline-block;
  width:100%;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.title {
  font-weight: bold;
  font-style: italic;
}